<?xml version="1.0" encoding="utf-8"?>
<widget 
	xmlns="http://www.w3.org/ns/widgets" 
	defaultlocale="en" 
	id="http://gwendragon.de/tools/opera/userjs/#searchenginepreview" 
	version="1.4.3">
	<update-description 
		href="http://gwendragon.de/repo/tools/opera/extensions/searchengine-preview/1.4" />
	<name>SearchenginePreview</name>
	<description xml:lang="en">Preview of webpage in search engine's results</description>
	<description xml:lang="de">Vorschau der Webseite in den Suchergebnissen der Suchmaschine</description>
	<description xml:lang="fr">Prévisualisation d'une page Web dans les resultats du moteur de récherche</description>
	<author 
		href="http://gwendragon.de/" 
		email="info@gwendragon.de">GwenDragon</author>
	<license 
		href="http://www.gnu.org/licenses/gpl.html">GPLv3</license>	
	<icon src="icons/icon.png" height="128" width="128" />	
	<preference name="previewpic" value="0" /> <!-- use real preview picture -->
	<preference name="previewurl" value="1" /> <!-- use thumbs service #1 -->
	<preference name="showbutton" value="1" /> <!-- show extension icon in main bar -->
</widget>
