<?xml version="1.0" encoding="utf-8"?>
<widget version="1.4.5.4" 
	xmlns="http://www.w3.org/ns/widgets" 
	defaultlocale="en" 
	id="http://gwendragon.de/repo/tools/opera/extensions/#searchenginepreview">
	<update-description 
		href="http://gwendragon.de/repo/tools/opera/extensions/searchengine-preview/1.4" />
	<name>SearchenginePreview</name>
	<description xml:lang="en">SearchenginePreview - a extension for Opera and Chromium-like browsers, showing thumbnails of websites in search results of many search engines.</description>
	<description xml:lang="de">SearchenginePreview - eine Erweiterung für Opera und Chromium-Browsern, die in Suchmaschinenergebnissen Vorschauen der gefundenen Websites anzeigt.</description>
	<description xml:lang="fr">SearchenginePreview - une extension, pour les navigateurs Opera et ceux basés sur Chromium, affiche les miniatures des sites dans les pages de résultats des moteurs de recherche courants.</description>
	<description xml:lang="es">SearchEnginePreview - una extensión para Opera y navegadores Chromium que añade las miniaturas de páginas web a los resultados de búsqueda, funciona en la mayoría de los buscadores.</description>
	<description xml:lang="ru">SearchenginePreview - это расширение для Opera и Chromium-подобных браузеров, добавляющее предпросмотр результатов поиска во многих поисковых системах.</description>
	<author 
		href="http://gwendragon.de/" 
		email="info@gwendragon.de">GwenDragon</author>
	<license 
		href="http://www.gnu.org/licenses/gpl.html">GPLv3</license>	
	<icon src="icons/icon.png" height="128" width="128" />	
	<preference name="previewpic" value="0" /> <!-- use real preview picture -->
	<preference name="previewurl" value="1" /> <!-- use thumbs service #1 -->
	<preference name="showbutton" value="1" /> <!-- show extension icon in main bar -->
</widget>
